{% extends 'log/layout.html' %}

{% block title %}
    <h2>操作日志</h2>
{% endblock %}

{% block content %}
    <script>
        document.getElementById("list_action_log").className = "active";
    </script>
    <div style="margin-top: 1%">
        <table data-toggle="table" data-search="true" data-pagination="true" data-show-pagination-switch="true"
               data-show-columns="true" data-show-toggle="true">
            <thead>
            <tr>
                <th>日志ID</th>
                <th>操作者</th>
                <th>操作详情</th>
                <th>操作时间</th>
            </tr>
            </thead>

            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}
