{% extends 'layout.html' %}

{% block body %}
<h2>用户列表</h2>
<div class="row" style="margin-right: 0;">
    <div class="col-md-12">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="/list_user">用户列表</a>
            </li>
            <li><a href="/new_user">新建用户</a></li>
        </ul>
    </div>
</div>

<div style="margin-top: 1%">
    <table data-toggle="table" data-search="true" data-pagination="true" data-show-pagination-switch="true"
           data-show-columns="true" data-show-toggle="true">
        <thead>
        <tr>
            <th>用户名</th>
            <th>邮箱</th>
            <th>操作</th>
        </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
</div>

{% endblock %}