{% extends 'layout.html' %}

{% block body %}
<h2>任务列表</h2>
<div class="row" style="margin-right: 0;">
    <div class="col-md-12">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="/">任务列表</a>
            </li>
            <li><a href="/new_task">新建任务</a></li>
        </ul>
    </div>
</div>

<div style="margin-top: 1%">
    <table data-toggle="table" data-search="true" data-pagination="true" data-show-pagination-switch="true"
           data-show-columns="true" data-show-toggle="true" pageSize="20">
        <thead>
        <tr>
            <th data-align="center" data-width="5%">任务ID</th>
            <th data-align="center" data-width="20%">任务名</th>
            <th data-align="center" data-width="5%">是否启用</th>
            <th data-align="center" data-width="15%">机器池</th>
            <th data-align="center" data-width="10%">调度格式</th>
            <th data-align="center" data-width="5%">优先级</th>
            <th data-align="center" data-width="10%">父任务</th>
            <th data-align="center" data-width="10%">子任务</th>
            <th data-align="center" data-width="5%">创建者</th>
            <th data-align="center" data-width="10%">最近状态</th>
            <th data-align="center" data-width="5%">工具</th>
        </tr>
        </thead>

        <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.id }}</td>
            <td title="python 'test.py'">{{ task.name }}</td>
            <td>
                {% if task.valid %}
                <input type="checkbox" disabled="disabled" checked>
                {% else %}
                <input type="checkbox" disabled="disabled" unchecked>
                {% endif %}
            </td>
            <td>
                {% for machine in task.machine_pool %}
                <a href="#" class="btn btn-default btn-xs">{{ machine }}</a>
                {% endfor %}
            </td>
            <td>
                {% if task.scheduled_type == 'day' %}
                <a href="#" class="btn btn-default btn-xs">D</a>&nbsp;&nbsp;&nbsp;&nbsp;{{ task.hour }}:{{ task.minute }}
                {% elif task.scheduled_type == 'week' %}
                <a href="#" class="btn btn-default btn-xs">W {{ task.weekday }}</a>&nbsp;&nbsp;&nbsp;&nbsp;{{ task.hour }}:{{ task.minute }}
                {% elif task.scheduled_type == 'month' %}
                <a href="#" class="btn btn-default btn-xs">M</a> <a href="#" class="btn btn-default btn-xs">D {{ task.day }}</a>&nbsp;&nbsp;&nbsp;&nbsp;{{ task.hour }}:{{ task.minute }}
                {% elif task.scheduled_type == 'once' %}
                {{ task.year }}-{{ task.month }}-{{ task.day }} {{ task.hour }}:{{ task.minute }}:0
                {% endif %}

            </td>
            <td>{{ task.priority }}</td>
            <td>{{ task.father_task }}</td>
            <td>None</td>
            <td>{{ task.user }}</td>
            <td>
                <a href="#" class="btn btn-success btn-xs">成功</a>
                <a href="#" class="btn btn-default btn-xs">查看日志</a>
            </td>
            <td>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">操作<span
                            class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="#">编辑</a></li>
                        <li class="divider"></li>
                        <li><a href="#">停用</a></li>
                        <li><a href="#">删除</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
