{% extends 'layout.html' %}

{% block body %}
    <h2>操作日志</h2>
    <div class="row" style="margin-right: 0;">
        <div class="col-md-12">
            <ul id="myTab" class="nav nav-tabs">
                <li>
                    <a href="/list_execute_log">执行日志</a>
                </li>
                <li class="active"><a href="/list_action_log">操作日志</a></li>
            </ul>
        </div>
    </div>


    <div style="margin-top: 1%">
        <table data-toggle="table" data-search="true" data-pagination="true" data-show-pagination-switch="true"
           data-show-columns="true" data-show-toggle="true" pageSize="20">
            <thead>
            <tr>
                <th>日志ID</th>
                <th>操作者</th>
                <th>操作详情</th>
                <th>操作时间</th>
            </tr>
            </thead>

            <tbody>
            </tbody>
        </table>
    </div>

{% endblock %}
