{% extends 'machine/layout.html' %}

{% block title %}
    <h2>机器状态</h2>
{% endblock %}

{% block content %}
<div style="margin-top: 1%">
    <script>
        document.getElementById("list_machine_status").className = "active";
    </script>
    <table data-toggle="table" data-search="true" data-pagination="true" data-show-pagination-switch="true"
           data-show-columns="true" data-show-toggle="true">
        <thead>
        <tr>
            <th>机器名</th>
            <th>CPU使用率</th>
            <th>内存总量</th>
            <th>内存使用量</th>
            <th>内存剩余量</th>
            <th>内存使用率</th>
            <th>心跳时间</th>
        </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
</div>

{% endblock %}