{% extends 'machine/layout.html' %}

{% block title %}
    <h2>修改机器</h2>
{% endblock %}

{% block content %}
    <script>
        document.getElementById("modify_machine").className = "active";
    </script>
    <div style="margin: 2% 10% 0 10%">
        <div class="row">
            <div class="col-md-2" align="right">
                机器名
            </div>
            <div class="col-md-10">
                <input type="text" name="user_name" class="form-control">
            </div>
        </div>
        <div class="row" style="margin-top: 1%">
            <div class="col-md-2" align="right">
                ip地址
            </div>
            <div class="col-md-10">
                <input type="text" name="user_name" class="form-control" placeholder="可选">
            </div>
        </div>
        <div class="row" style="margin-top: 1%">
            <div class="col-md-2" align="right">
                mac地址
            </div>
            <div class="col-md-10">
                <input type="text" name="user_name" class="form-control" placeholder="可选">
            </div>
        </div>

        <div class="row" align="center" style="margin-top: 1%">
            <button type="submit" class="btn btn-primary">保存</button>
        </div>
    </div>

{% endblock %}