{% extends 'base/layout.html' %}

{% block body %}
    <script>
        document.getElementById("task").className = "active";
    </script>
    {% block title %}{% endblock %}
    <div class="row" style="margin-right: 0;">
        <div class="col-md-12">
            <ul id="myTab" class="nav nav-tabs">
                <li id="list_task"><a href="/">任务列表</a></li>
                <li id="new_task"><a href="/new_task">新建任务</a></li>
                <li id="modify_task"><a href="/modify_task">修改任务</a></li>
            </ul>
        </div>
    </div>
    {% block content %}{% endblock %}
{% endblock %}