{% extends 'layout.html' %}

{% block body %}
    <h2>执行日志</h2>
    <div class="row" style="margin-right: 0;">
        <div class="col-md-4">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active">
                    <a href="/list_execute_log">执行状态</a>
                </li>
                <li><a href="/list_action_log">操作日志</a></li>
            </ul>
        </div>
        <div class="col-md-5"></div>
        <div class="input-group col-md-3">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">任务id<span
                            class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">任务id</a></li>
                        <li><a href="#">任务名</a></li>
                        <li><a href="#">执行机器</a></li>
                        <li><a href="#">开始日期</a></li>
                        <li><a href="#">结束日期</a></li>
                        <li><a href="#">状态</a></li>
                    </ul>
                </div><!-- /btn-group -->
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">等于<span
                            class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">等于</a></li>
                        <li><a href="#">不等于</a></li>
                        <li><a href="#">包含</a></li>
                        <li><a href="#">不包含</a></li>
                        <li><a href="#">大于</a></li>
                        <li><a href="#">小于</a></li>
                    </ul>
                </div><!-- /btn-group -->
                <input type="text" class="form-control">
            </div><!-- /input-group -->


        </div>
    </div>


    <div style="margin-top: 1%">
        <table data-toggle="table">
            <thead>
            <tr>
                <th>任务ID</th>
                <th>版本号</th>
                <th>任务名</th>
                <th>执行机器</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>状态</th>
                <th>操作</th>
                <th>日志</th>
            </tr>
            </thead>

            <tbody>
            </tbody>
        </table>
    </div>

    <div align="center">
        <nav>
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </nav>
    </div>


{% endblock %}