{% extends 'base/layout.html' %}

{% block body %}
    <script>
        document.getElementById("machine").className = "active";
    </script>
    {% block title %}{% endblock %}
    <div class="row" style="margin-right: 0;">
        <div class="col-md-12">
            <ul id="myTab" class="nav nav-tabs">
                <li id="list_machine"><a href="/list_machine">机器列表</a></li>
                <li id="list_machine_status"><a href="/list_machine_status">机器状态</a></li>
                <li id="new_machine"><a href="/new_machine">添加机器</a></li>
                <li id="modify_machine"><a href="/modify_machine">修改机器</a></li>
            </ul>
        </div>
    </div>
    {% block content %}{% endblock %}
{% endblock %}